{% load view_composer %}

<h1>Basic functionality</h1>

<p>This page tests the different template tag arguments, and shows the context variables available in each view context as it renders.</p>

{% view 'example.views.Navigation' %}

<hr />

<p>Include view using import string</p>

<pre>
{% verbatim %} {% view 'example.views.TestView' %} {% endverbatim %}
</pre>

{% view 'example.views.TestView' %}

<p>Include view using import string in a variable</p>

<pre>
{% verbatim %} {% view test_view_str %} {% endverbatim %}
</pre>

{% view test_view_str %}

<p>Include view with additional context variables set on it</p>

<pre>
{% verbatim %} {% view test_view_str with color="red" %} {% endverbatim %}
</pre>

{% view test_view_str with color="red" %}

<p>Include view with *only* specified context variables set</p>

<pre>
{% verbatim %} {% view test_view_str with color="red" only %} {% endverbatim %}
</pre>

{% view test_view_str with color="red" only %}

<p>Include view with additional context variables resolved from parent view context</p>

<pre>
{% verbatim %} {% view test_view_str with color=child_color %} {% endverbatim %}
</pre>

{% view test_view_str with color=child_color %}