{% load view_composer %}

<h1>Block tag</h1>

<p>This page tests the block tag. The block tag renders any child nodes first and provides them to the view in the <code>children</code> context variable.</p>

{% view 'example.views.Navigation' %}

<hr />

<p>Include view block with a child node</p>

<pre>
{% filter force_escape %}
{% verbatim %}
{% viewblock 'example.views.TestView' %}
    <div>Hello!</div>
{% endviewblock %}
{% endverbatim %}
{% endfilter %}
</pre>

{% viewblock 'example.views.TestView' %}
    <div>Hello!</div>
{% endviewblock %}

<p>Include view block with a child node and a variable</p>

<pre>
{% filter force_escape %}
{% verbatim %}
{% viewblock 'example.views.TestView' with color='green' %}
<div>Hello!</div>
{% endviewblock %}
{% endverbatim %}
{% endfilter %}
</pre>

{% viewblock 'example.views.TestView' with color='green' %}
    <div>Hello!</div>
{% endviewblock %}

<p>Include view block with another view as a child node</p>

<pre>
{% filter force_escape %}
{% verbatim %}
{% viewblock 'example.views.TestView' with color='green' %}
    {% view 'example.views.TestView' %}
{% endviewblock %}
{% endverbatim %}
{% endfilter %}
</pre>

{% viewblock 'example.views.TestView' with color='green' %}
    {% view 'example.views.TestView' %}
{% endviewblock %}

<p>Nesting multiple blocks</p>

<pre>
{% filter force_escape %}
{% verbatim %}
{% viewblock 'example.views.TestView' with color='green' %}
    {% viewblock 'example.views.TestView' with color='orange' %}
        {% viewblock 'example.views.TestView' with color='red' %}
            <p>Hello, {{ user }}</p>
        {% endviewblock %}
    {% endviewblock %}
{% endviewblock %}
{% endverbatim %}
{% endfilter %}
</pre>

{% viewblock 'example.views.TestView' with color='green' %}
    {% viewblock 'example.views.TestView' with color='orange' %}
        {% viewblock 'example.views.TestView' with color='red' %}
            <p>Hello, {{ user }}</p>
        {% endviewblock %}
    {% endviewblock %}
{% endviewblock %}